@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo-tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17,17,17, 0.8), rgba(20,20,20, 1)), url(/img/img5.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;    
}

/* Menu - Header - NavBar */

header {
    width: 100%;
    height: 7vh;
    background: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}